.main-header {
    /* display: none; */
    background-color: #FFFFFF;
}

.content-header {
    display: none;
    background-color: #FFFFFF;
}

.content-wrapper {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #FFFFFF;
}

.content {
    margin-top: 5px;
}
